# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference

version: 2
jobs:
  build:
    docker:
    - image: circleci/php:7.4.3
    - image: circleci/mysql:5.7.21
      environment:
        MYSQL_DATABASE: quizGame
        MYSQL_ROOT: root

    steps:
    - checkout

    - run: sudo apt update
    - run: sudo docker-php-ext-install pdo_mysql
    - run: sudo docker-php-ext-enable pdo_mysql
    - run: sudo wget https://get.symfony.com/cli/installer -O - | bash

    - run:
        command: composer install
        working_directory: ./
    - run:
        command: php bin/console cache:clear --env=prod
        working_directory: ./
    - run:
        command: php bin/console cache:clear
        working_directory: ./
    - run:
        command: yes | php app/console doctrine:fixtures:load --fixtures=src/DataFixtures/Dev || true
        working_directory: ./
    - run:
        command: symfony serve -d
        working_directory: ./
    - run:
        command: php bin/phpunit
        working_directory: ./
    - run:
        command: symfony server:stop
        working_directory: ./
